
    /*--------------------------------------------------------------
    # General
    --------------------------------------------------------------*/
    body {
      background-color: #F1EFEF;
      color: #7D7C7C;
      font-family: "Poppins", helvetica;
      font-size: 15px;
      font-weight: 300;
      line-height: 20px;
      letter-spacing: 0.02em;
      overflow-x: hidden;
      margin: 0 auto;
      padding: 0;
      box-sizing: border-box;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      margin: 0;
    }

    h2 {
      color: #191717;
      font-weight: 600;
      font-size: 20px;
    }

    h4 {
      color: #191717;
      font-size: 14px;
      font-weight: 600;
    }

    a {
      color: #191717;
      text-decoration: none !important;
      transition: all 0.2s ease-in-out 0s;
    }

    a:hover {
      transition: all 0.2s ease-in-out 0s;
    }

    p {
      margin: 25px 0;
      padding: 0;
      font-size: 15px;
      color: #382E2E;
      line-height: 28px;
    }

    .separator{
        font-weight: normal;

    }

    ::-moz-selection {
      background: #CCC8AA;
      color: #F1EFEF;
    }

    ::selection {
      background: #CCC8AA;
      color: #F1EFEF;
    }
    .btn {
      /* Existing styles for normal state */
      display: inline-block;
      justify-content: center;
      align-items: center;
      background: #191717;
      border: medium none;
      border-radius: 0;
      color: #F1EFEF;
      font-size: 10px;
      height: 30px;
      line-height: 30px;
      padding: 0 30px;
      text-transform: uppercase;
      width: 120px;
    }

    /* Add these styles for hover, focus, and active states */
    .btn:hover,
    .btn:focus,
    .btn:active {
      color: #000; /* Black text */
      font-weight: bold;
      background: #9B9A9A; /* Gray background */
      border: 2px solid #000; /* Black border */
    }

    /* Add this style to maintain the original text color for focused buttons */
    .btn:focus {
      color: #F1EFEF;
    }

    /* Add this style to maintain the original text color for active buttons */
    .btn:active {
      color: #F1EFEF;
      background: #9B9A9A !important;
      border: #9B9A9A;
    }

    .padDiv {
      padding: 30px 20px;
    }

    .section-title {
      margin-bottom: 70px;
    }

    .section-title h2 {
      font-size: 25px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    .form-control {
      background-color: #F1EFEF;
      border: 1px solid #CCC8AA;
      border-radius: 0;
      color: #191717;
      font-size: 12px;
      font-weight: 500;
      height: 50px;
      letter-spacing: 0.1em;
      padding-left: 10px;
      margin: 0 0 25px 0;
      line-height: 14px;

    }


    .paddsection {
      padding-top: 90px;
      padding-bottom: 90px;
    }

    .mb-30 {
      margin-bottom: 30px;
    }

    .main-content {
      padding-top: 140px;
    }


    /*--------------------------------------------------------------
    # Back to top button
    --------------------------------------------------------------*/
    .back-to-top {
      position: fixed;
      visibility: hidden;
      opacity: 0;
      right: 15px;
      bottom: 15px;
      z-index: 996;
      background: #7D7C7C;
      width: 40px;
      height: 40px;
      border: 2px solid #F1EFEF;
      border-radius: 4px;
      transition: all 0.4s;
    }

    .back-to-top i {
      font-size: 28px;
      color: #F1EFEF;
      line-height: 0;
    }

    .back-to-top:hover {
      background: #9B9A9A;
      color: #F1EFEF;
    }

    /*--------------------------------------------------------------
    # Header
    --------------------------------------------------------------*/
    #header {

      z-index: 997;
      padding: 15px 0;
      background-color: #F1EFEF;
      box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.08);
      position: fixed;
      top: 0;
    }

    .header-homepage{
      top: -100%;
    }

    #header .logo {
      font-size: 30px;
      margin: 0;
      padding: 0;
      line-height: 1;
      font-weight: 600;
      letter-spacing: 1px;
      font-family: "Poppins", sans-serif;
      font-style: italic;
    }

    #header .logo a {
      color: #7D7C7C;
    }

    @media (max-width: 992px) {
      #header {
        border: 0;
      }
    }

    /*--------------------------------------------------------------
    # Navigation Menu
    --------------------------------------------------------------*/
    /**
    * Desktop Navigation
    */
    .navbar {
      padding: 0;
      top: 0;
    }

    .navbar ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    }



    .navbar a,
    .navbar a:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0 10px 30px;
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      font-weight: 500;
      color: #7D7C7C;
      white-space: nowrap;
      transition: 0.3s;
    }

    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
      color: #191717;
    }

    /**
    * Mobile Navigation
    */
    .mobile-nav-toggle {
      color: #7D7C7C;
      font-size: 28px;
      cursor: pointer;
      display: none;
      line-height: 0;
      transition: 0.5s;
    }

    @media (max-width: 991px) {
      .mobile-nav-toggle {
        display: block;
      }

      .navbar ul {
        display: none;
      }
    }

    /*--------------------------------------------------------------
    # Hero
    --------------------------------------------------------------*/
    /*--------------------------------------------------------------
    # Hero
    --------------------------------------------------------------*/
    #hero {
      background: url("../img/full body.jpg") center center no-repeat;
      background-size: cover;
      height: 100vh;
      width: 100%;
      margin-top: 40px;
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #7D7C7C;
    }

    #hero .hero-content {
      text-align: left;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 0;
      padding-bottom: 0;
      color: #191717; /* Set text color */
    }

    .hero-content h1 {
      font-size: 40px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0; /* Remove margin to ensure precise positioning */
    }

    .hero-content p {
      font-size: 15px;
      letter-spacing: 3px;
      margin: 0; /* Remove margin to ensure precise positioning */
      font-weight: 500;
      text-align: justify;
      color: #382E2E;
    }




    .list-social li i:hover {
      color: #7D7C7C;
    }

    .list-social {
      display: flex; /* Set the ul to display as a flex container */
      list-style: none; /* Remove list bullet points if present */
      padding: 0; /* Remove default padding */
    }

    .list-social li {
      margin-right: 20px;
    }

    .social-icon {
      font-size: 25px;
    }



    .hero-text {
      max-width: 50%; /* Set a maximum width to limit the content to the left half of the page */
    }

    /* Mobile and Tablet Styles */
@media (max-width: 768px) {
  /* Adjust hero image alignment */
  #hero {
    background-position: 80% center;
    background-size: cover;


  }

  /* Scale down the text elements */
  #hero .hero-content h1 {
    font-size: 24px; /* Adjust the font size as needed */
  }

  #hero .hero-content p {
    font-size: 12px; /* Adjust the font size as needed */
    line-height: 20px; /* Adjust the line height as needed */
  }


}



    /*--------------------------------------------------------------
    # Breadcrumbs
    --------------------------------------------------------------*/

    /*-----------------------------------------------------------------------------------*/
    /*  About
    /*-----------------------------------------------------------------------------------*/

    /*--------------------------------------------------------------
    # Skills
    --------------------------------------------------------------*/
    #services {
      background: #F1EFEF;
      position: relative;
      padding-bottom: 80px;
      padding-top: 40px;
      margin-top: 0;
    }

    .services-block span {
      margin: 10px 0;
      position: relative;
      font-size: 13px;
      color: #191717;
      letter-spacing: 0.1em;
      font-weight: 500;
      text-transform: uppercase;
      display: block;
    }

    .services-block .separator {
      margin: 0;
      font-size: 13px;
      line-height: 22px;
    }

    .services-block i {
      font-size: 44px;
      color: #191717;
      line-height: 44px;
    }

    .services-slider .swiper-pagination {
      margin-top: 30px;
      position: relative;
    }


    .skills-icon{
        text-align: center;
    }
    /*--------------------------------------------------------------
    # Portfolio
    --------------------------------------------------------------*/
    #portfolio {
      position: relative;
      padding-bottom: 50px;
      background: url('../../assets/img/background.png'); /* Use your image URL */
      background-repeat: repeat; /* Repeat the background image */
      background-color: #7D7C7C; /* Set the background color */
      color: #191717;
    }

    #portfolio #portfolio-flters {
      padding: 0;
      margin: 0 auto 35px auto;
      list-style: none;
      text-align: center;
      border-radius: 50px;
      padding: 2px 15px;
      background: #F1EFEF;
    }

    #portfolio #portfolio-flters li {
      cursor: pointer;
      display: inline-block;
      padding: 10px 15px 8px 15px;
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      color: #7D7C7C;
      margin-bottom: 5px;
      transition: all 0.3s ease-in-out;
      background: #F1EFEF;
    }

    #portfolio #portfolio-flters li:hover,
    #portfolio #portfolio-flters li.filter-active {
      color: #191717;
    }

    #portfolio #portfolio-flters li:last-child {
      margin-right: 0;
    }

    #portfolio .portfolio-item {
      margin-bottom: 30px;
      color: #191717;
    }

    #portfolio h2{
        color: #F1EFEF;
    }

    .portfolio-card{
        background: #F1EFEF;
        color: #191717;

    }

    .card-text{
        height: 200px;


    }

    .portfolio-icon{
        font-size: 25px;
    }

    .card-title{
        text-align: center;
    }





    /*--------------------------------------------------------------
    # Musings
    --------------------------------------------------------------*/

    .journal-block .journal-info img {
      max-width: 100%;
    }

    .journal-block .journal-info .journal-txt {
      padding: 25px 0px;
      position: relative;
    }

    .journal-block .journal-info .journal-txt h4 a {
      display: block;
      font-size: 19px;
      line-height: 24px;
      margin: 0 0 13px 0;
      font-weight: 500;
      color: #191717;
      transition: all 0.5s ease-in-out 0s;
    }

    .journal-block .journal-info .journal-txt h4 a:hover {
      color: #7D7C7C;
      transition: all 0.5s ease-in-out 0s;
    }

    .journal-block .journal-info .journal-txt p {
      margin: 0;
      font-size: 14px;
      line-height: 24px;
    }

    .embedded-btn{
        border-radius: 25px;
    }

    .new-blog-btn{
        margin-top: 30px;
        align: center;
        width: 100%;
        border-radius: 10px;
    }

    .blog-img{
        height: 200px;
        width: 100%
    }

    #blog{
        background: #F1EFEF;
        width: 100%;  /* Set the width to 100% of the viewport width */
        padding-top: 80px;
        padding-bottom: 100px;

    }

    .edit-btn{
        background: #474A56;
        margin-bottom: 5px;

    }

    .delete-btn {
        background: #FF0000;
        margin-bottom: 5px;
    }

    .delete-btn:hover,
    .delete-btn:focus {
        background: #FF0000;
        color: #F1EFEF;
    }



    #github-btn{
        margin-bottom: 5px;
        background: #333;
        color: #6cc644;
        height: 34px;
        line-height: 17px;
        line-width: 120px;

    }





    .bi-github{
        font-size: 25px;

    }

    .git-btn-container {
        display: flex; /* Use flexbox for horizontal layout */
        align-items: center; /* Vertically center the items */
    }

    .git-btn-container i {
        margin-right: 10px; /* Add some space between the icon and the link */

    }

    .git-btn-container {
      display: flex;
      align-items: center;
    }

    .git-btn-container a {
      display: flex;
      align-items: center;
      margin-right: 10px; /* Adjust this to control the spacing between icon and text */
    }

    .git-btn-container a i {
      margin-right: 5px; /* Adjust this to control the spacing between the icon and text */
    }
    /*--------------------------------------------------------------
    # Contact
    --------------------------------------------------------------*/
    #contact {
      /* Background image with color overlay */
      background-image: url('../../assets/img/background.png'); /* Replace 'path-to-your-image.jpg' with your image URL */
      background-color: rgba(204, 200, 170, 0.7); /* The color overlay with opacity */

      /* Center and cover the background image */
      background-size: auto;
      background-position: center;
      background-repeat: repeat;
    }

    .contact-details {
      list-style: none;
      margin: 0;
      padding: 0;
      color: #191717;
    }

    .contact-details li {
      padding-bottom: 10px;
    }

    #contact input,
    #contact textarea {
      width: 100%;
      margin-bottom: 5px;
    }

    #contact textarea {
      min-height: 160px;
    }

    /*--------------------------------------------------------------
    # Blog
    --------------------------------------------------------------*/

    /*  Navbar fixd page */

    /*-----------------------------------------------------------------------------------*/
    /*  /* Single page */
    /*-----------------------------------------------------------------------------------*/

    /* main content */
    .main-content {
      background: #F1EFEF;
    }

    .main-content .container-main {
      display: inline-block;
      width: 100%;
    }

    .main-content .container-main .block-main {
      margin-bottom: 30px;
      overflow: hidden;
    }

    .container-main .block-main .content-main {
      background: #F1EFEF none repeat scroll 0 0;
      display: inline-block;
      width: 100%;
    }

    .journal-txt h4 a {
      display: block;
      font-size: 19px;
      line-height: 24px;
      margin: 0 0 13px 0;
      font-weight: 500;
      color: #191717;
      transition: all 0.5s ease-in-out 0s;
    }

    .journal-txt h4 a:hover {
      color: #CCC8AA;
      transition: all 0.5s ease-in-out 0s;
    }

    .post-meta ul li {
      font-size: 12px;
      font-weight: normal;
      margin-left: 8px;
      margin-right: 8px;
      text-transform: capitalize;
      display: inline-block;
      float: none;
    }

    .content-main .post-meta a {
      color: #7D7C7C;
      margin-left: 5px;
    }

    /* Commonts */

    /* Commonts form */

    /*--------------------------------------------------------------
    # Footer
    --------------------------------------------------------------*/
    #footer {
      background: #191717;
      padding-bottom: 50px;


    }

    #footer p {
      font-size: 12px;
      letter-spacing: 0.1em;
      font-weight: 500;
      margin-bottom: 0;
      padding-top: 30px;
      text-transform: uppercase;
    }


    .credits {
      font-size: 13px;
    }

    /** Width between 1200x to 0
     *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     */
    /** Width between 992px to 1199px
     *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     */
    /** Width between 768px to 991px
     *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     */
    @media (min-width: 768px) and (max-width: 991px) {

      /* Navbar */
      nav {
        padding: 10px 15px;
      }



      /* About */

      /* portfolio */

      /* journal */

      /* Contact */
      .contact-contact {
        margin-bottom: 30px;
      }

      /* Footer */
    }

    /** Width between 767px to 0
     *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     */
    @media (max-width: 767px) {

      /* Navbar */
      nav {
        padding: 20px 15px;
      }

      /* About */

      /* portfolio */

      /* journal */

      /* Contact */
      .contact-contact {
        margin-bottom: 30px;
      }

      /* Footer */
    }

    /** Width between 600px to 0
     *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     */
    @media (max-width: 600px) {

      /* Navbar */
      nav {
        padding: 20px 15px;
      }

      /* About */

      /* portfolio */

      /* journal */

      /* Contact */
      .contact-contact {
        margin-bottom: 30px;
      }

      #contact {
      height: auto;
      width: 100%;
      margin-top: 40px;
    }

      /* Footer */
    }

    #footer{
        padding-top: 20px;
    }

    /** Width between 480px to 0
     *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     */
    @media (max-width: 480px) {

      /* Navbar */
      nav {
        padding: 20px 15px;
      }

      /* About */

      /* portfolio */

      /* journal */

      /* Contact */
      .contact-contact {
        margin-bottom: 30px;
      }

      /* Footer */
    }

    /** Width between 320px to 0
     *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     */
    @media (max-width: 320px) {

      /* Navbar */
      nav {
        padding: 20px 15px;
      }

      /* About */

      /* portfolio */

      /* journal */

      /* Contact */
      .contact-contact {
        margin-bottom: 30px;
      }




      /* Footer */

      /* Single page */
    }


    .page-heading{
        margin-top: 100px;
    }

    /* Blog-post Page */

    #post-title{
        color: #191717;
    }

    /* Error Message Page */

    .error-message {
      text-align: center; /* Center the content inside the div */
      padding: 20px; /* Add some spacing around the content */
      border: 1px solid #ccc; /* Optional: Add a border to the div */
      background-color: #f9f9f9; /* Optional: Set a background color */
      max-width: 70%; /* Optional: Limit the width of the div */
    }

    .body-error-message{
      display: flex;
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */
      height: 100vh; /* Full viewport height */
      margin: 0; /* Remove default body margin */
}