<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<body>

  <main id="main">

    <!-- ======= Blog Single ======= -->
    <div class="main-content paddsection">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-md-offset-2">
            <div class="row">
              <div class="container-main single-main">
                <div class="col-md-12">
                  <div class="block-main mb-30">
                    <img src="static/assets/img/blog-post-big.jpg" class="img-responsive" alt="reviews2">
                    <div class="content-main single-post padDiv">
                      <div class="journal-txt">
                        <h4><a href="#"></a>{{ post.title }}</h4>
                      </div>
                      <div class="post-meta">
                        <ul class="list-unstyled mb-0">
                          <li class="author">by: <a href="https://www.linkedin.com/in/keiran-devine-1ba373274/">Keiran Devine</a></li>
                          <li class="date">date:<a href="#">19/07/2023</a></li>
                        </ul>
                      </div>
                      <p> {{ post.body }}</p>
                    </div>
                  </div>



                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Blog Single -->

  </main><!-- End #main -->

  {% include 'footer.html' %}

</body>

</html>