{% extends 'base.html' %}

{% block content %}





<body>

  <main id="main">

    <!-- ======= Blog Single ======= -->
    <div class="main-content paddsection">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-md-offset-2">
            <div class="row">
              <div class="container-main single-main">
                <div class="col-md-12">
                  <div class="block-main mb-30">
                       <h1 id="post-title">{{ post.title }}</h1>
                      <br>
                    <img src="{{post.img_url}}" class="img-responsive" alt="" width="100%">
                    <div class="content-main single-post padDiv">



                      <div class="post-meta">
                        <ul class="list-unstyled mb-0">
                          <li class="author">by: <a href="https://www.linkedin.com/in/keiran-devine-1ba373274/">{{post.author}}</a></li>
                          <li class="date">date:<a href="#">19/07/2023</a></li>
                        </ul>
                      </div>
                      <p> {{ post.body|safe }}</p>
                    </div>
                  </div>



                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Blog Single -->

  </main><!-- End #main -->


{% endblock %}

</body>

</html>