

{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}


<body>
  <!-- Page Header -->

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">

            <h1>Admin Login</h1>


            <span class="subheading">Access for authorized personnel only<br><br></span>

          </div>
        </div>
      </div>
    </div>

  <div class="container form-container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

            {% with messages = get_flashed_messages() %}
                 {% if messages %}
                    {% for message in messages %}
                       <p>{{ message }}</p>
                    {% endfor %}
                 {% endif %}
            {% endwith %}

          <!-- This is where the form will go -->
          {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}


      </div>
    </div>
  </div>

{% endblock %}

</body>
</html>

